@import "/css/variables.css";

.cardcontainer{
    /* margin: 10px 0 0 10px; */
    padding: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    z-index: 23;
    text-align: justify;
    border-bottom: 2px solid;
    border-image-slice: 1;
    /* border-width: 1px; */
    border-image-source: linear-gradient(to right,transparent 0%, var(--border-color)50%, transparent 100%);
}
.card{
    
    height: 380px;
    min-width: 300px;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .1);
    padding: 20px;
}
.card1{
    width: 20em;
    border-radius: var(--main-Card-Radius) 0 0 var(--main-Card-Radius);
    background: var(--left-card-background-color);
    z-index: 9;
}

.card2{
    background-color: white;
    z-index: 8;
}
.card2 h2{
    font-size: 1.2rem;
}
/* p{
    margin: 10px;
    margin: 10px;
    
} */
.card :is(h1, h3, h2)
{
    text-align: center;
}