header{
    position:fixed;
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
}
.element{
    flex: 350px;
}
.element:nth-child(1){
    align-self: flex-start;
    flex-grow: unset;
    background-color: none;
}
.element:nth-child(3){
    flex-grow: unset;;
}
nav{
    flex-shrink: unset;
    align-self: flex-end;
    justify-self: right;
    width: fit-content;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
nav ul li{    
    flex-grow: unset;
}
footer{
    z-index: 10;
    width: 100%;
    background-color: white;
    font-size: 1em;
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
}

footer ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
