:root{
    --main-Card-Radius: 15px;
    --main-backgroud-color:#d6c0abff;
    --left-card-background-color:#f6f1edff;
    --border-color:#00bbff;
    font-family: Georgia, 'Times New Roman', Times, Arial, serif;
}