header{
    position:fixed;
    z-index: 3;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    background-color: blue;
    font-size: 1.2em;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 200px;
    height: fit-content;
      }
.element{
    margin:auto;
    
}
.element:nth-child(1){
    justify-self: flex-start;
    flex-shrink: unset;
}
header div
{
  flex:300px 1;
    
    
}
nav{
    
    bottom: 0;
    background-color: aliceblue;
    align-self: flex-end;
    flex: 600px 2;
    
}
nav ul{
    
    
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
}